---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$max-content-width: 1200px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    80%;
$content-width-mobile: 90%;
$content-width-inverse-factor: 1.2;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
@font-face {
    font-family: "Optima_Regular";
    src: url('unicode.optima.ttf');
    font-weight: normal;
    font-style: normal;
}

.overview-gallery-title {
    color: #111;
    width: 100%; 
    font-weight: 300;
    margin-bottom: 0;
    @media screen and (min-width: $on-palm) {
        height: 1.4em; 
        white-space: nowrap;
        text-overflow: ellipsis; 
        overflow: hidden; 
        }
}

.gallery-column {}

.gallery-preview {
    border: 2px solid #999999; 
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 20px;
}

.overview-date-title {
    font-weight: 300; 
    color: $grey-color
}

.gallery-title {
    font-weight: bold;
    margin-bottom: 0;
}

.date-title {
    font-weight: 300; 
    color: $grey-color
}

a.back-to-top {
    color: $grey-color; 
    border: 1px solid $grey-color; 
    padding: 20px; 
    border-radius: 35px; 
    font-weight: 300;
}

a.no-deco:hover {
    text-decoration: none;
}

.row {
    width: 100%;
    display: block;

    // base definition
    .column{
        float:left;
        display: block;
        box-sizing: border-box;
    }
    .full-width {
        @extend .column;
        width:100%;
    }
    .half-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 49%;
        }
    }
    .one-third-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 32.3333333%;
        }
    }
    .one-tenth-width {
        @extend .column;
        width: 10%;
    }
    .nine-tenth-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 90%;
        }
    }
    .two-third-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 64.6666666%;
        }
    }
    @media screen and (min-width: $on-palm) {
        .left {
            margin-left: 0;
            margin-right: 1%;
        }
        .right {
            margin-left: 1%;
            margin-right: 0;
        }
        .center {
            margin-left: 0.5%;
            margin-right: 0.5%;
        }
    }
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

.social-icons i {
    font-size: 45px;
    margin: 15px;
    color: #999999;
}
/*.si:hover{
    color: #666666;
}*/
.fa-linkedin:hover {
    color: #0966C2;
}
.fa-medium:hover {
    color: #000000;
}
.fa-github:hover {
    color: #7F278F;
}
.fa-goodreads:hover {
    color: #cf8744;
}
.fa-instagram:hover {
    color: #D94184;
}
.fa-twitter:hover {
    color: #1DA1F2;
}
.fa-camera-retro:hover {
    color: #6B4D00;
}
.fa-at:hover {
    color: #C11212;
}
.vivino {
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 13px;
    padding-top: 2px;
    fill: #999999;
    width: 45px;
    height: 47px;
    vertical-align: top;
}
.vivino:hover {
    fill: #AA1631;
}
.vivino-a:hover .vivino {
    fill: #AA1631;
}
.pg-img {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%
}
.pg-img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}



  .gr_custom_container_1626082616 {
    /* customize your Goodreads widget container here*/
    border: 0px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: transparent;
    color: #000000;
    
  }
  .gr_custom_header_1626082616 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 80%
  }
  .gr_custom_each_container_1626082616 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
  }
  .gr_custom_book_container_1626082616 {
    /* customize your book covers here */
    overflow: hidden;
    height: 160px;
      float: left;
      margin-right: 4px;
      width: 98px;
  }
  .gr_custom_author_1626082616 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_tags_1626082616 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_1626082616 {
    /* customize your rating stars here */
    float: right;
  }