---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
$max-content-width: 1200px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    80%;
$content-width-inverse-factor: 1.2;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
@font-face {
    font-family: "Optima_Regular";
    src: url('unicode.optima.ttf');
    font-weight: normal;
    font-style: normal;
}

.overview-gallery-title {
    color: #111;
    width: 100%; 
    font-weight: 300;
    margin-bottom: 0;
    @media screen and (min-width: $on-palm) {
        height: 1.4em; 
        white-space: nowrap;
        text-overflow: ellipsis; 
        overflow: hidden; 
        }
}

.overview-date-title {
    font-weight: 300; 
    color: $grey-color
}

.gallery-title {
    font-weight: bold;
    margin-bottom: 0;
}

.date-title {
    font-weight: 300; 
    color: $grey-color
}

a.back-to-top {
    color: $grey-color; 
    border: 1px solid $grey-color; 
    padding: 20px; 
    border-radius: 35px; 
    font-weight: 300;
}

a.no-deco:hover {
    text-decoration: none;
}

.row {
    width: 100%;
    display: block;

    // base definition
    .column{
        float:left;
        display: block;
        box-sizing: border-box;
    }
    .full-width {
        @extend .column;
        width:100%;
    }
    .half-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 48%;
        }
    }
    .one-third-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 31.3333333%;
        }
    }
    .one-tenth-width {
        @extend .column;
        width: 10%;
    }
    .nine-tenth-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 90%;
        }
    }
    .two-third-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 64.6666666%;
        }
    }
    @media screen and (min-width: $on-palm) {
        .left {
            margin-left: 0;
            margin-right: 2%;
        }
        .right {
            margin-left: 2%;
            margin-right: 0;
        }
        .center {
            margin-left: 1%;
            margin-right: 1%;
        }
    }
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

.social-icons i {
    font-size: 45px;
    margin: 15px;
    color: #999999;
}
/*.si:hover{
    color: #666666;
}*/
.fa-linkedin:hover {
    color: #0966C2;
}
.fa-medium:hover {
    color: #000000;
}
.fa-github:hover {
    color: #7F278F;
}
.fa-goodreads:hover {
    color: #cf8744;
}
.fa-instagram:hover {
    color: #D94184;
}
.fa-twitter:hover {
    color: #1DA1F2;
}
.fa-camera-retro:hover {
    color: #19191a;
}
.fa-at:hover {
    color: #C11212;
}
.vivino {
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 13px;
    padding-top: 2px;
    fill: #999999;
    width: 45px;
    height: 47px;
    vertical-align: top;
}
.vivino:hover {
    fill: #AA1631;
}
.vivino-a:hover .vivino {
    fill: #AA1631;
}
