@font-face {
     font-family: Optima_Regular;
     src: url(unicode.optima.ttf);
}

body{
   font-family: Optima_Regular;
   padding: 0;
   margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}
a:hover { text-decoration: none }
a:focus { outline: 0 solid; text-decoration: none}
input:focus, button:focus, textarea:focus, a:focus {outline: none}
ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    max-width:100%;
}
p{
    font-size: 16px;
    line-height: 28px;
	letter-spacing: 0.7px;
}
.row {
    position: fixed;
    top: 50%;
    left: 10%;
    right: 10%;
    transform: translate(0%, -50%);
    vertical-align: middle;
    text-align: center;
}
.main-section {
	position: absolute;
	top: 25%;
}
.right {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.right h1 {
	font-size: 75px;
	letter-spacing: 12px;
	margin-bottom: 21px;
}
.right h1 span {
	font-weight: bold;
}
.social-icons i {
	font-size: 45px;
	margin: 15px;
	color: #999999;
}
/*.si:hover{
	color: #666666;
}*/
.fa-linkedin:hover {
    color: #0966C2;
}
.fa-medium:hover {
    color: #000000;
}
.fa-github:hover {
    color: #7F278F;
}
.fa-goodreads:hover {
    color: #cf8744;
}
.fa-instagram:hover {
    color: #D94184;
}
.fa-twitter:hover {
    color: #1DA1F2;
}
.fa-camera-retro:hover {
    color: #19191a;
}
.fa-at:hover {
    color: #C11212;
}
.vivino {
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 13px;
    padding-top: 2px;
    fill: #999999;
    width: 45px;
    height: 47px;
    vertical-align: top;
}
.vivino:hover {
    fill: #AA1631;
}
.vivino-a:hover .vivino {
    fill: #AA1631;
}

@media only screen and (min-width: 300px) and (max-width: 767px) { 
.main-section {
	padding: 50px 0px;
	position: absolute;
	top: 0%;
}
.right {
	margin-bottom: 35px;
}
.right h1 {
	font-size: 57px;
	letter-spacing: 9px;
	margin-bottom: 21px;
}
.social-icons {
	margin: 30px;
}
.vivino {
    /*margin-top: 10px;*/
}
.row {
    top: 0%;
    transform: none;
}